.dlist{
  list-style: none;
}

.dlist,li{
  margin-top: 20px;
  padding-left: 2rem;
  cursor: pointer;
}

.dcatimg{
  list-style: none;
}

.dcatimg,li{
  padding-bottom: 10px;
}

.cat-div{
  width: 80vw;
  height: 75vh;
  border: 1px solid;
}

.cat-inner{
  margin-top: .5em;
  margin-left: .5em;
  width: 78vw;
  height: 70vh;
  border: 1px solid;
  overflow-y:scroll ;
}